<form class="layui-form info-form" action="" style="width:80%;">
    <input name="id" id="id" type="hidden" value="{$info.id}">

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">设备名称：</label>
            <div class="layui-input-inline">
                <input name="name" id="name" value="{$info.name}" lay-verify="required"
                       autocomplete="off" placeholder="请输入设备名称" class="layui-input" type="text">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">设备父级：</label>
            <div class="layui-input-inline">
                {:W('common/singleSelect',array('parent_id|1|所属父类|name|id',
                M('device_type')->field('id,name')->where('mark=1 and parent_id=0')->select(), $info['id']))}
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label for="note" class="layui-form-label">设备备注：</label>
            <div class="layui-input-block">
                <textarea style="text-align: left" name="notes" id="notes" cols="75" rows="10">{$info.notes}</textarea>
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="submitForm">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>